body {
  margin: 0;
  padding: 0;
  background: Grey;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.75fr 2fr 0.25fr;
  grid-template-areas:
  ". titolo titolo ."
  ". canvas0 canvas0 ."
  ". digit button ."
  ". canvas1 canvas1 ."
  ". . . footer";
}

#titolo {
  grid-area: titolo;
  text-align:center;
  color: #2b3033;
}

#canvas0 {
  grid-area: canvas0;
  border-style: solid;
  border-color:#001a00;
}

#digit {
  grid-area: digit;
}

#button {
  grid-area: button;
}

#canvas1 {
  grid-area: canvas1;
  border-style: solid;
  border-color:#001a00;
}

footer {
  grid-area: footer;
  text-align: center;
  color:#2b3033;
}

.slider {
}

#count {
  color: #2b3033;
  font-weight: bold;
}
