body {
  margin: 0;
  padding: 0;
  background: Grey;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.75fr 2fr 0.25fr;
  grid-template-areas:
  ". titolo titolo ."
  ". canvas0 canvas0 ."
  ". digit button ."
  ". canvas1 canvas1 ."
  ". . . footer";
}

#titolo {
  grid-area: titolo;
  text-align:center;
}

#canvas0 {
  grid-area: canvas0;
}

#digit {
  grid-area: digit;
}

#button {
  grid-area: button;
}

#canvas1 {
  grid-area: canvas1;
}

footer {
  grid-area: footer;
  text-align: right;
}
